%animateTextGlowing {
    margin: 0;
    padding: 0;
    color: #111;
    font-size: xxx-large;

    span {
        margin: 0;
        padding: 0;
        animation: animateTextGlowing 5.25s linear infinite;

        &:nth-child(1) {animation-delay:0;}
        &:nth-child(2) {animation-delay:.25s;}
        &:nth-child(3) {animation-delay:.75s;}
        &:nth-child(4) {animation-delay:1s;}
        &:nth-child(5) {animation-delay:1.25s;}
        &:nth-child(6) {animation-delay:1.75s;}
        &:nth-child(7) {animation-delay:2s;}
        &:nth-child(8) {animation-delay:2.25s;}
        &:nth-child(9) {animation-delay:2.75s;}
        &:nth-child(10) {animation-delay:3s;}
        &:nth-child(11) {animation-delay:3.25s;}
        &:nth-child(12) {animation-delay:3.75s;}
        &:nth-child(13) {animation-delay:4s;}
        &:nth-child(14) {animation-delay:4.25s;}
        @keyframes animateTextGlowing {
            0%,100% {
                color: #fff;
                filter: blur(2px);
                text-shadow: 0 0 10px #00b3ff,
                0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 80px #00b3ff,
                0 0 120px #00b3ff,
                0 0 200px #00b3ff,
                0 0 220px #00b3ff,
                0 0 240px #00b3ff,
                0 0 280px #00b3ff,
                0 0 300px #00b3ff,
                0 0 320px #00b3ff,
                0 0 340px #00b3ff,
                0 0 380px #00b3ff,
                0 0 400px #00b3ff;
            }
            5%,95% {
                color: #111;
                filter: blur(0px);
                text-shadow: none;
            }
        }
    }
}