@import '../../style/animation/boxWavyEffect';

.containerFooter {
    @extend %boxWavyEffect;
    position: relative;
    width: 100%;
    padding: 40px 20px;
    height: 500px;
    color: #fff;

    .containerIconFooter {
        position: relative;
        width: 100%;
        height: auto;
        justify-content: space-evenly;
        z-index: 9999;
        display: flex;
        flex-wrap: wrap;
        // @extend %icons;

        .footerIcon {
            width: 20%;
            transition: 1s;
            &:hover {
                transform: translateY(-20px);
            }
        }
    }

    .AnimationSvg {
        display: none;
    }

    .footerCopyrightLogo {
        position: relative;
        z-index: 9999;
    }
}

@media (max-width: 768px) {
    .containerFooter {
        padding-bottom: 0 !important;
        height: auto !important;

        .AnimationSvg {
            display: none
        }

        // @extend %box-CardAnimation;

        .containerIconFooter {
            margin-bottom: 30px;
        }

        &::before,
        &::after {
            background: transparent !important;
            width: 0 !important;
            border: none !important;
            filter: none !important;
        }
    }
}