.containerSetCrypto {
    height: auto;
    position: relative;


    .containerLogoSetCrypto {
        .logoSetCrypto {
            width: 120px;
            height: 50px;
            margin: 10px;

            a {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .containerFormSetCrypto {
        width: 50% !important;
        background: rgba(255, 255, 255, 0.05) !important;
        color: white !important;
        margin-top: 30px;
        border-radius: 10px;

        .formReadCrypto {
            height: 460px;
        }

    }

}

@media (max-width: 768px) {
    .containerSetCrypto {
        .containerFormSetCrypto {
            width: 90% !important;
        }
    }
}

@media (max-width: 568px) {
    .containerSetCrypto {
        .containerFormSetCrypto {
            width: 100% !important;
        }
    }
}