// @import '../../../style/animation/boxWavyEffect';

.FrequentlyQuestions {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    background-color: #f8f8f8;

    background: url(../../../assets/onepiece/9.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;


    .cardFaq {
        position: relative;
        width: 790px;
        height: auto;
        background-color: rgba(250, 250, 250, 0.7);
        box-shadow: 0 25 50px rgba(0, 0, 0, 0.15);
        border-radius: 20px;

        i {
            position: absolute;
            background-color: #af43f1;
            top: 50px;
            left: -15px;
            width: 270px;
            height: 50px;
            border-radius: 30px;
            border-bottom-left-radius: 0;


            &::before {
                content: "";
                position: absolute;
                top: 50px;
                left: 0;
                width: 15px;
                height: 30px;
                background: #8045c6;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                z-index: 2;
            }

            &::after {
                content: "";
                position: absolute;
                top: 50px;
                left: 0;
                width: 15px;
                height: 15px;
                background: #af43f1;
                z-index: 1;
            }

        }

        .cardFaqText {
            margin-top: 54px;

            div h2 {
                span {
                    width: 26px;
                    height: 26px;
                    min-width: 1px;
                    -webkit-box-flex: 0;
                    flex: 0 0 auto;
                    border: 2.5px none #199294;
                    background-color: #221ed8a8;
                    display: inline-block;
                    border-radius: 50%;

                    p {
                        margin-top: -2px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}